* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  border-radius: 8px;
  width: 920px;
  margin: 170px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.col-1,
.col-2,
.col-3 {
  padding: 48px;
}

.col-1 {
  background-color: hsl(31, 77%, 52%);
}

.col-2 {
  background-color: hsl(184, 100%, 22%);
}

.col-3 {
  background-color: hsl(179, 100%, 13%);
}

svg {
  margin-bottom: 32px;
}

.title {
  font-size: 38px;
  color: hsl(0, 0%, 95%);
  letter-spacing: 0.4px;
  font-family: "Big Shoulders", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.description {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 300;
  margin-bottom: 82px;
  line-height: 1.65;
  letter-spacing: 0.2px;
}

.btn--1 {
  color: #e38826;
}
.btn--2 {
  color: #006970;
}
.btn--3 {
  color: #004241;
}

.btn:link,
.btn:visited {
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  padding: 16px 32px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: hsl(0, 0%, 95%);
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
  background-color: transparent;
}

/************************/
/* ATTRIBUTION */

.attribution {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.attribution a:link,
.attribution a:visited {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
