@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  padding: 40px;
  border-radius: 14px;
  text-align: center;
  width: 385px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.profile-image {
  width: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.profile-name {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-location {
  color: hsl(75, 94%, 57%);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 24px;
}

.profile-bio {
  color: hsl(0, 0%, 100%);
  margin-bottom: 24px;
}

.profile-links ul {
  list-style: none;
}

.profile-link {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  padding: 15px 0;
  border-radius: 8px;
  margin-bottom: 15px;
}

.profile-link:last-child {
  margin-bottom: 0;
}

.profile-link:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
